body {
  margin: 0;
  font-family: 'QuickSand';
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.container {
  margin: 126px auto 50px;
  min-height: calc(100vh - 306px);
}

@media screen and (min-width: 665px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 868px) {
  .container {
    width: 864px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1222px;
  }
}
